canvas {
	outline-style: solid;
	outline-color: black;
	outline-width: thin;
	opacity: 0.80;
	width: 245px;
	height: 245px;
	transition: 0.15s;
	z-index: 0;
	background-color: white;
}

body {
	/*background: url('./crater.png') no-repeat center center fixed;*/
	background-color: LightCyan;
	background-size: cover;
}

#title {

}
#header_menu {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	opacity: 0.6;
}

#header_menu li {
	float: left;
	padding: 15px;
	margin: 0px;
	background-color: Cyan;
	border: 1px Navy solid;
}

#header_menu li:hover {
	background-color: Blue;
	color: white
}

canvas:hover {
	transform: scale(1.4);
	z-index: 1;
	position: relative;
	opacity: 1;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: white;
}

p, p:hover {

}

.pictures {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.container {
	position:relative;
	display: inline-block;
}

.rowpics {
	width: 30%;
	float:left;
}
