canvas {
	outline-style: solid;
	outline-color: black;
	outline-width: thin;
	opacity: 0.80;
	width: 245px;
	height: 245px;
	transition: 0.15s;
	z-index: 0;
	background-color: white;
}


#title {

}

#life {
	background-image: url("pics/life.gif");
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: pixelated;
}

#header_menu {
	background-color: #F5F5F5;
	margin-top:0px;
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	opacity: 0.6;
	height: 100%;
	border-right: 1px Black solid;
}

#header_menu li {
	padding: 15px;
	margin: 0px;
	border-bottom: 1px Black solid;
}

#header_menu li:hover {
	background-color: Blue;
	color: white
}

canvas:hover {
	transform: scale(1.4);
	z-index: 1;
	position: relative;
	opacity: 1;
}

a {
	text-decoration: none;
	color: black;
}
p a {
	color: blue;
}
a:hover {
	color: white;
}

p, p:hover {

}

.pictures {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.container {
	position:relative;
	display: inline-block;
}

.rowpics {
	width: 30%;
	float:left;
}

.rowgifs {
	width: 30%;
	float: left;
	border: 1px Black solid;
}

.sidemenu {
	height: 100%;
	width: 130px;
	position: fixed;
	z-index: 1;	
	top: 0;
	left: 0;
}

.main_content {
	margin-left: 140px;
}

.title {
	margin-left: 140px;
}
