
.comment {
	border: 1px solid black;
        margin: 15px;
        border-radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height:1.45;
}

.comment_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
}
.author {
    font-weight: bold;
}

.date {
    font-style: italic;
    font-size: 0.8em;
    color: #999;
}
