canvas {
	outline-style: solid;
	outline-color: black;
	outline-width: thin;
	width: 245px;
	height: 245px;
	transition: 0.15s;
	z-index: 0;
	background-color: white;
}
canvas:hover {
	transform: scale(1.4);
	z-index: 1;
	position: relative;
}
.gif_covered {
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: pixelated;
}
