/* comment styling rules */
.comment {
	border: 1px solid black;
}
.comment_box {
	width: 100%;
	height: 100px;
}
.comment_box, .author_box, .submit_button {
	padding: 10px;
}

/* Rules for menus*/

.modebar{
      display: none !important;
}
auto-card a {
	color: black;
	text-decoration: none;
	border-bottom: dotted 1px grey;
}
body {
	font-family: 'Roboto', sans-serif;
	max-width: 120ch;
	margin: 0 auto;
}
main {
}
.party_input, .compute_button {
	display: inline-block;
}
.compute_button {
	background-color: #36d23a;
}
.compute_button:hover {
	background-color: #258c27;
}
.sidemenu {
	width: 10ch;
	margin: 0ch 4ch 0ch 1ch;
	position: absolute;
}
#mainicon {
	image-rendering: pixelated;
	width: 64px;
}

#socials_footer {
	text-align: center;
	max-width: 90ch;
}

#socials_footer .socials {
	display: inline-block;
	width: 200px;
}

.block, .menu .block:hover {
	background-color: Black;
}
.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu-item {
	text-decoration: none;
	color: black;
	padding:10px 0px 10px;
	margin:0px;
	float: left;
	width: 100%;
}
figcaption {
	text-align: center;
	font-style: italic;
}
/* rules for mtg card hovers */
.hover_img a { position:relative; color:black; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }

.collapsible {
	color:grey;
}
.collapsed{
	height:90px;
	overflow:hidden;
	position:relative;
}
.collapsed:after {
position: absolute;
  bottom: 0;  
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 20%, 
     rgba(255,255,255, 0) 80%
  );
  pointer-events: none;
}
.open {
	height:auto;
}

/* Rules for Media and Pictures */
.quote {
	background: lightgrey;
	border-left: 5px black solid;
	margin-left: 7%;
	margin-right: 7%;
	padding-left: 5px;
}
blockquote.epigraph {
	margin-right: 10%;
	margin-left: 10%;
}
blockquote.epigraph > (div:first-child, p:first-child) {
	font-style: italic;
}
blockquote.epigraph > p:last-child {
	text-align:right;
}
.dialog {
	margin-right: 10%;
	margin-left: 10%;
}
.dialog p {
	text-indent:0;
}
p.mathblock {
	text-indent:0;	
}
.centered, #statistics {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#statistics, #statistics tr, #statistics th, #statistics td {
	border: 1px solid black;
}


.full, .half, .third, .fourth, .fifth {
	float: left;
}
.full {
	width: 100%;
}
.half {
	width: 49%;
}
.third {
	width: 33.33%;
}
.fourth {
	width: 24%;
}
.fifth {
	width: 19%;
}
/* Rules for main text */
div h4 {
	font-weight: normal;
}
.main_content, .title {
	margin-left:140px;
}
h1.source {
	font-weight: normal;
}
.main_content {
	max-width:75ch;
}

.main_content p,h1,h2,h3,h4 {
	margin-left:0;
	margin-right:0;
}
.main_content iframe {
	margin-left:auto;
	margin-right:auto;
	display: block;
}

code {
	display:block;
	line-height:100%;
	background-color: black;
	color: white;
	padding: 5px;
	border-radius: 4px;
}
code.inline {
	display:inline;
	padding: 1px;
}
p {
	line-height:1.45;
	text-indent:2em;
}
.icon {
	width: 12%;
	padding: 20% 2% 3% 2%;
}
.icon:hover {
	background-color: LightGrey;
}
.main_content .container {
	margin-left:0;
	margin-right:0;
}
.plink {
	text-decoration: none;
	color: black;
}
.plink p {
	background: lightgrey;
	border: 1px solid Black ;
}
.plink p:hover {
	background: grey;
}
/* Rules for Party Chart Styling. TODO: revise to use classes in case I ever make a chart again */
tr {
	display: block;
	float: left;
}
th, td {
	font-weight: normal;
	display: block;
	padding: 5px 15px 5px 15px;
}
select {
	width: 60%;

}
table {   
	padding: 5px 30px 5px 30px;
	border: solid 1px black;
}
tbody {
	width: 100%;
}
.party_data {
	width: 90%;
	margin: auto;

}

.compute_button {
	display: block;
	width: 300px;
}
@media only screen and (max-width:600px) {
	* {
		max-width: 94vw;
	}
	.sidemenu {
		width: 100%;
		height: 80px;
		z-index: 5;	
		top: 0px;
		left: 0;
		position: static;
	}
	.main_content {
		margin-left:3%;
		max-width:100%;
	}
	.title {
		margin-left: 2%;
	}
	img.centered, img.half, img.third, img.fourth, img.fifth {
		float: left;
		width: 100%;
		max-width: 100%;
	}
	.menu li a {
		padding:10px 0px 10px 0px;
	}
	.icon {
		width: 10%;
		padding: 7%;
	}
	.sidemenu .socials {
		visibility: hidden;
		height: 0;
		width: 0;
	}
	#socials_footer .socials {
		display: inline-block;
		width: 100%;
	}
	.menu-item {
		text-decoration: none;
		color: black;
		padding:10px 0px 10px;
		margin:0px;
		float: left;
		width:39%;
		text-align: center;
		border: 1px Black dotted;
	}
	#mainicon {
		width: 16%;
		margin: 2%;
		float: left;
	}
	table, .compute_button {
		width: 100%;
	}

	.legend{ /* The legend blocks the chart on mobile :/ */
	      display: none !important;
	}
	.desktop-only {
		visibility: hidden;
		height: 0;
		width: 0;
		padding: 0;
	}
}
