/* Rules for menus*/

auto-card a {
	color: black;
	text-decoration: none;
	border-bottom: dotted 1px grey;
}
body {
	font-family: 'Roboto', sans-serif;
	max-width: 120ch;
	margin: 0 auto;
}
main {
}
.party_input, .compute_button {
	display: inline-block;
}
.sidemenu {
	width: 10ch;
	margin: 0ch 4ch 0ch 1ch;
	position: absolute;
}
#mainicon {
	image-rendering: pixelated;
	width: 64px;
}

#socials_footer {
	text-align: center;
	max-width: 90ch;
}

#socials_footer .socials {
	display: inline-block;
	width: 200px;
}

.block, .menu .block:hover {
	background-color: Black;
}
.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu-item {
	text-decoration: none;
	color: black;
	padding:10px 0px 10px;
	margin:0px;
	float: left;
	width: 100%;
}
figcaption {
	text-align: center;
	font-style: italic;
}
/* Rules for Media and Pictures */
.quote {
	background: lightgrey;
	border-left: 5px black solid;
	margin-left: 7%;
	margin-right: 7%;
	padding-left: 5px;
}
blockquote.epigraph {
	margin-right: 10%;
	margin-left: 10%;
}
blockquote.epigraph > p:first-child {
	font-style: italic;
}
blockquote.epigraph > p:last-child {
	text-align:right;
}
p.mathblock {
	text-indent:0;	
}
.centered, #statistics {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#statistics, #statistics tr, #statistics th, #statistics td {
	border: 1px solid black;
}
.full, .half, .third, .fourth, .fifth {
	float: left;
}
.full {
	width: 100%;
}
.half {
	width: 49%;
}
.third {
	width: 33.33%;
}
.fourth {
	width: 24%;
}
.fifth {
	width: 19%;
}
/* Rules for main text */
.title {
	margin-top:30px;
}
div h3 {
	font-weight: normal;
}
.main_content, .title {
	margin-left:140px;
}
.main_content {
	max-width:75ch;
}

.main_content * {
	margin-left:0;
	margin-right:0;
}
code {
	display:block;
	line-height:100%;
}
p {
	line-height:1.45;
	text-indent:2em;
}
.icon {
	width: 15%;
	padding: 20% 3% 3% 3%;
}
.icon:hover {
	background-color: LightGrey;
}
.main_content .container {
	margin-left:0;
	margin-right:0;
}
.plink {
	text-decoration: none;
	color: black;
}
.plink p {
	background: lightgrey;
	border: 1px solid Black ;
}
.plink p:hover {
	background: grey;
}
@media only screen and (max-width:1000px) {
	.sidemenu {
		width: 100%;
		height: 200px;
		z-index: 5;	
		top: 0px;
		left: 0;
		position: static;
	}
	.main_content {
		margin-left:3%;
		max-width:100%;
	}
	.title {
		margin-left: 2%;
		margin-top: 30px;
	}
	img.centered, img.half, img.third, img.fourth, img.fifth {
		float: left;
		width: 100%;
		max-width: 100%;
	}
	.menu li a {
		padding:40px 0px 40px;
	}
	.icon {
		width: 10%;
		padding: 7%;
	}
	.sidemenu .socials {
		visibility: hidden;
	}
	#socials_footer .socials {
		display: inline-block;
		width: 100%;
	}
	.menu-item {
		text-decoration: none;
		color: black;
		padding:10px 0px 10px;
		margin:0px;
		float: left;
		width:39%;
		text-align: center;
		border: 1px Black dotted;
	}
	#mainicon {
		width: 16%;
		margin: 2%;
		float: left;
	}
}
