.links_menu {
	list-style-type: none;
	margin: 5px 0px 10px -40px;
	display: inline-block;
}
.links_menu a {
	text-decoration:none;
	color: black;
}
.links_menu * li:hover {
	opacity: .4;
}
.links_menu * li {
	margin: 0% 5% 5% 5%;
	width:40%;
	float:left;
}

@media only screen and (max-width:600px) {
	.links_menu * li {
		margin-bottom:5px; 
		width:100%;
		float:left;
	}
}
