.hidden {
    display: none;
}

#subscribe_button button {
    border-radius: 100px;
    background-color: #09861e;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 1.4em;
    z-index: 101;
}
#subscribe_button button:hover {
    background-color: #3afa17;
}

#subscribe_box {
    text-align: center;
    position: fixed;
    background-color: #fff;
    width: 100%;
    max-width: 70ch;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    z-index: 100;
}

#subscribe_box input {
    width: 70%;
    max-width: 50ch;
    margin: 20px auto;
}

.close_parent {
    position: absolute;
    right: 5px;
    top: 5px;
}
