.hidden {
    display: none;
}

#subscribe_button button {
    border-radius: 10px;
    background-image: url(/asset/pic/smol.jpg);
    position: fixed;
    bottom: 1%;
    right: 25px;
    font-size: 1.4em;
    z-index: 101;
    padding: 10px 20px;
}
#subscribe_button button:hover {
    background-image:  linear-gradient(#ffffff40, #ffffff40), url(/asset/pic/smol.jpg);
}

#subscribe_box {
    text-align: center;
    position: fixed;
    background-color: #fff;
    width: 100%;
    max-width: 70ch;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    background-image: radial-gradient(white, transparent), url(/asset/pic/mid.jpg);
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#subscribe_form input {
    width: 60%;
    max-width: 50ch;
    margin: 20px auto;
    padding: 10px;
}

#subscribe_form button {
    padding: 10px;
    margin: 20px auto;
}

.close_parent {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 5px;
}

.close_parent:hover {
    background-color: #959595;
    border-radius: 100px;
}
#subscribeicon {
	image-rendering: pixelated;
	height: 1em;
}

